<header class="header">
  <div class="header__inner">
    <div class="header__dots">
      <div class="header__dot-1"></div>
      <div class="header__dot-2"></div>
      <div class="header__dot-3"></div>
    </div>
    <nav class="header__nav">
      <ul class="header__ul">
        <li class="header__li"><a href="#" class="header__a">Apps</a></li>
        <li class="header__li"><a href="#" class="header__a">Your work</a></li>
        <li class="header__li"><a href="#" class="header__a">Discover</a></li>
        <li class="header__li"><a href="#" class="header__a">Market</a></li>
      </ul>
      <div class="header__input-wrap"><input type="text" class="header__input"></div>
    </nav>
    <div class="header__extra">
      <div class="header__bell-wrap"><img src="" alt="" class="header__bell"></div>
      <div class="header__cloud-wrap"><img src="" alt="" class="header__cloud"></div>
      <div class="header__person-wrap"><img src="" alt="" class="header__person"></div>
    </div>
  </div>
</header>